* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Clash Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.error-code {
    font-size: 6rem;
    font-weight: 700;
}

h1{
    font-size: 100px;
}

p{
    font-size: 30px;
}

.separator {
    width: 1px;
    height: 3rem;
    background-color: #444;
    margin: 0 1.5rem;
}

.error-message {
    font-size: 4rem;
    font-weight: 400;
}

button {
    background-color: transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: white 3px solid;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

button:hover {
    background-color: #fff;
    color: #000;
}