:root{
    --gradient-itch: linear-gradient(20deg, red, rgb(241, 97, 97));
    --gradient-gamejolt: linear-gradient(20deg, rgb(43, 255, 28), rgb(2, 97, 11));
    --gradient-tiktok: linear-gradient(20deg, #69C9D0, #EE1D52);
    --gradient-instagram: linear-gradient(20deg, rgb(251, 255, 0), rgb(255, 6, 168));
    --gradient-discord: linear-gradient(20deg, rgb(0, 238, 255), rgb(35, 6, 255));
}

.itch, .gamejolt, .tiktok, .discord, .instagram{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}

.itch{background-image:var(--gradient-itch);}
.gamejolt{background-image:var(--gradient-gamejolt);}
.tiktok{background-image:var(--gradient-tiktok);}
.discord{background-image:var(--gradient-discord);}
.instagram{background-image: var(--gradient-instagram);}

/*MARKDOWN SUPPORT*/
#preview {
    margin-top: -20px;
    color: white;
    font-family: 'Clash Display', sans-serif;
}

#email, #description{width: 25%;}

.headerContactUs{font-size: 80px;}

@media (max-width: 768px) {
    #email, #description{width: 45%;}
    .headerContactUs{font-size: 70px;}
}

/*EMAIL US ANIMATIONS*/

.form__field:focus{
    border: 2.5px solid transparent;
    background: 
        linear-gradient(#292929, #292929) padding-box,
        linear-gradient(to right, #818cf8,#e0e7ff,#38bdf8,#e879f9,#38bdf8,#e0e7ff,#818cf8) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    width: 80%;
    background-size: 400% auto;
    animation: gradient 15s linear infinite;
}

@keyframes gradient {
    to {background-position: 400% center}
}