.card {
  position: relative;
  width: 900px;
  height: 500px;
  overflow: hidden;
  border-radius: 5px;
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  transform: translateX( 900px );
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 6;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  animation-delay: 21s;
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -900px ); }
  100% { transform: translateX( -900px ); }
}

.downloads{
  display: inline-flex;
  gap: 70px;
}

.windows, .macOS, .linux{
  display: none;
}

img:hover{
  cursor: pointer;
}

img:hover::after{
  cursor: default;
}

.deps:hover{
  cursor: pointer;
}

.deps:hover::after{
  cursor: default;
}

.notAvaible{
  display: none;
}

@media (max-width: 600px) {
  .card{
    display: none;
  }
  .downloads{
    display: none;
  }
  .notAvaible{
    display: block;
  }
  h2, h3, h4, h5, h6{
    margin-left: 10px;
    margin-right: 10px;
  }
}