.happenText, #title{
  -webkit-text-fill-color: transparent; 
  background-image: linear-gradient(to right,#ffc400, #ff9100, #ff530f, #e62c6d, #b25aff, #b25aff, #e62c6d, #ff530f, #ff9100, #ffc400);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {to {background-position: 200% center}}

#epikUpdates{font-size: 120px;}

@media (max-width: 600px) {
  #epikUpdates{font-size: 58px;}
  .happenText{font-size: 76px;}
  .newsIndex{font-size: 45px;}
}