.games {
    display: flex;
    justify-content: center; 
}

.game{
    display: flex;
    gap: 20px;
}

.game-item {text-align: center;}

.games img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gamesStart{font-size: 120px;}

.buttons{
    display: inline-flex;
    gap: 100px;
}

.game-item img{height: 200px;}

@media (max-width: 600px){
    body{overflow-x: hidden;}
    .game-item img{height: 230px;}
    .games{
        display: block;
        justify-content: none;
    }
    .game{
        display: block;
        gap: 0px;
    }
    .gamesStart{font-size: 70px;}
    .games img{border-radius: 0px;}
}

b{font-weight: 800;}