.smartPhone{
    display: none;
}

.buttons{
    display: block;
}

ul{
    padding-left: 200px; 
    padding-right: 200px;
}

img{
    height: 400px;
}

.hereText{
    display: inline;
    font-size: 120px;
}

.deps{
    font-size: 80px;
}

.troubleshoot{
    font-size: 80px;
}

.depsTroubleshoot{
    margin-top: -40px;
}

#codeUnlocker{
    font-size: 120px;
}

@media (max-width:600px){
    body{
        overflow-x: hidden;
    }
    .smartPhone{
        display: block;
    }
    .buttons{
        display: none;
    }
    ul{
        padding-left: 10px; 
        padding-right: 10px;
    }
    img{
        height: 200px;
    }
    .hereText{
        display: block;
        font-size: 40px;
    }
    .deps{
        font-size: 60px;
    }
    .troubleshoot{
        font-size: 35px;
    }
    .depsTroubleshoot{
        margin-top: -0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #codeUnlocker{
        font-size: 70px;
    }
}