.smartPhone{display: none;}

.buttons{display: block;}

ul{
    padding-left: 200px; 
    padding-right: 200px;
}

img:not(.icon):not(#imgModal)
{height: 400px;}

.hereText{
    display: inline;
    font-size: 120px;
}

.deps, .troubleshoot{font-size: 80px;}

.depsTroubleshoot{margin-top: -40px;}

#codeUnlocker{font-size: 120px;}

.releaseDeps{
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width:600px){
    body{overflow-x: hidden;}
    .smartPhone{display: block;}
    .buttons{display: none;}
    ul{
        padding-left: 10px; 
        padding-right: 10px;
    }
    img{height: 200px;}
    .hereText{
        display: block;
        font-size: 40px;
    }
    .deps{font-size: 60px;}
    .troubleshoot{font-size: 35px;}
    .depsTroubleshoot{
        margin-top: -0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #codeUnlocker{font-size: 70px;}
    .releaseDeps{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.images img{
    border-radius: 10px;
}

.images img:hover, .tps:hover{cursor: pointer;}

/*MODAL*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 965px;
    height: 530px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.prev{left: 0;}
.next{right: 0;}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/*TRAILER*/
.trailer {
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
}

.trailer video {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}