.games {
    display: flex;
    justify-content: center; 
}

.game{
    display: flex;
    gap: 20px;
}

.game-item {
    text-align: center;
}

@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .games{
        display: block;
        justify-content: none;
    }
    .game{
        display: block;
        gap: 0px;
    }
}