.smartPhone{
    display: none;
}

.buttons{
    display: block;
}

ul{
    padding-left: 200px; 
    padding-right: 200px;
}

img{
    height: 400px;
}

.hereText{
    font-size: 120px;
}

.deps{
    font-size: 80px;
}

@media (max-width:600px){
    body{
        overflow-x: hidden;
    }
    .smartPhone{
        display: block;
    }
    .buttons{
        display: none;
    }
    ul{
        padding-left: 0px; 
        padding-right: 0px;
    }
    img{
        height: 200px;
    }
    .hereText{
        font-size: 60px;
    }
    .deps{
        font-size: 60px;
    }
}