.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 

@keyframes FadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes FadeOut{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*NAVBAR*/
* {
    box-sizing: border-box;
}
  
body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}
  
.nav {
    height: 78px;
    width: 100%;
    background-color: black;
    border-bottom: white 3px solid;
    position: sticky;
    top: 0;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 28px;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 20px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}
  
.nav > .nav-links > a:hover {
    font-weight: 800;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(to right,#818cf8,#e0e7ff,#38bdf8,#e879f9,#38bdf8,#e0e7ff,#818cf8);
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation: gradient 8s linear infinite;
}
  
.nav > #nav-check {
    display: none;
}

.gameTitle{
    font-size: 120px;
}

.seeMore {
    border: white 3px solid;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    transform: scale(1.5);
    z-index: -1;
}

.seeMore:hover{
    cursor: pointer;
}

.seeMore:hover::after{
    cursor: default;
}

@keyframes AnimationButtonOn {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}

@keyframes AnimationButtonOff {
    0% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: black;
        color: white;
    }
}

.releaseNotes{
    border: white 3px solid;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    transform: scale(1.5);
    animation: AnimationButtonOff 0ms linear;
    margin-right: 120px;
}

.releaseNotes2{
    border: white 3px solid;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    transform: scale(1.5);
    animation: AnimationButtonOff 0ms linear;
    margin-right: 0pxx;
}

.iconGame{
    float: left;
}

.iconGame2{
    float: right;
}

.S3{
    padding-left: 100px;
}

.depsS3{
    padding-left: 70px;
}

.startText{
    font-size: 120px;
}

.troubleshoot{
    font-size: 80px;
}

.smallDeps{
    font-size: 50px;
}

#limits, #contact, #team, #ideas{
    font-size: 120px;
}

.antiCheat{
    font-size: 24px;
}

.newsIndex{
    font-size: 80px;
}

.licenseText{
    font-size: 100px;
}
  
@media (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding-top: 28px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #000000;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > .nav-links > img {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .gameTitle{
        font-size: 80px;
    }
    .releaseNotes, .releaseNotes2{
        margin-right: 0px;
    }
    .iconGame{
        float: none;
        margin-left: -50px;
    }
    .iconGame2{
        float: none;
        margin-left: -65px;
    }
    .S3{
        padding-left: 0px;
    }
    .depsS3{
        padding-left: 0px;
    }
    .images-Gifts, .rarity{
        display: block;
        text-align: center;
    }
    .gift{
        padding-left: 0px;
    }
    .startText{
        font-size: 90px;
    }
    .troubleshoot{
        font-size: 40px;
    }
    .hereText{
        font-size: 105px;
    }
    .smallDeps{
        font-size: 25px;
    }
    #limits{
        font-size: 95px;
    }
    #contact, #ideas{
        font-size: 75px;
    }
    #team{
        font-size: 120px;
    }
    .antiCheat{
        font-size: 20px;
    }
    .newsIndex{
        font-size: 60px;
    }
    .licenseText{
        font-size: 75px;
    }
}

.start{
    margin-top: -150px;
}

.releaseNotes:hover{
    animation: AnimationButtonOn 500ms forwards;
    cursor: pointer;
}

.releaseNotes:hover::after{
    animation: AnimationButtonOff 500ms linear;
    cursor: default;
}

.releaseNotes2:hover{
    animation: AnimationButtonOn 500ms forwards;
    cursor: pointer;
}

.releaseNotes2:hover::after{
    animation: AnimationButtonOff 500ms linear;
    cursor: default;
}

.hereText{
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(to right,#818cf8,#e0e7ff,#38bdf8,#e879f9,#38bdf8,#e0e7ff,#818cf8);
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation: gradient 8s linear infinite;
}

.gameTitle{
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(to right,#818cf8,#e0e7ff,#38bdf8,#e879f9,#38bdf8,#e0e7ff,#818cf8);
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation: gradient 8s linear infinite;
}

@keyframes gradient {
    to {
        background-position: 200% center
    }
}

@keyframes animTextUp{
    0%{
        font-size: 240px;
    }
    100%{
        font-size: 120px;
    }
}

/*BACK TO TOP BUTTON*/
.backToTop:hover{
    cursor: pointer;
}

.backToTop:hover::after{
    cursor: default;
}

/*SCROLLTO ANIMATION*/
.scrollAnim{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 10vh;
}

.scroll{
    white-space: nowrap;
}

.scroll div{
    display: flex;
    gap: 2em;
}

.scroll p{
    font-size: 2em;
    margin-bottom: 15px;
    line-height: 10px;
}

.rightToLeft{
    animation: rightToLeft 10s infinite linear;
}

@keyframes rightToLeft{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}

h2{
    font-family: 'Inter', sans-serif;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: white 3px solid;
    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    transform: scale(1.5);
    cursor: pointer;
}

@keyframes animationIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes animationOut{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

#backToTopBtn:hover{
    animation: animationIn 500ms forwards;
}

#backToTopBtn:hover::after{
    animation: animationOut 500ms linear;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    padding: 0 20px;
    margin-top: -20px;
}

.article {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.article-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article-text {
    text-align: center;
    color: white;
}

.article-text h1, .article-text h2 {
    margin: 10px 0;
}

@media (max-width: 768px) {
    .article {
        grid-template-columns: 1fr;
    }
}

/*OVERFLOW*/
html {
    scrollbar-color: #888 black;
    scrollbar-width: auto;
}

.startIndex, .start{
    opacity: 0;
    animation: scaleIn 0.5s forwards;
}

#article1, #article2{
    transform: scale(0.8);
}

.gif{
    width: 95%;
    height: 95%;
    object-fit: cover;
}