@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  counter-reset: num var(--num);
  padding: 2rem;
}

.counter::after {content: counter(num);}

.counter2 {
  counter-reset: num var(--num);
  padding: 2rem;
}

.counter2::after {content: counter(num);}

.counter3 {
  counter-reset: num var(--num);
  padding: 2rem;
}

.counter3::after {content: counter(num);}

.counter4 {
  counter-reset: num var(--num);
  padding: 2rem;
}

.counter4::after {content: counter(num);}

.counter5{
  counter-reset: num var(--num);
  padding: 2rem;
}

.counter5::after {content: counter(num);}

@keyframes counter {
  from {--num: 0;}
  to {--num: 3000;}
}

@keyframes counter2 {
  from {--num: 0;}
  to {--num: 110;} 
}

@keyframes counter3 {
  from {--num: 0;}
  to {--num: 5;}
}

@keyframes counter4 {
  from {--num: 0;}
  to {--num: 3;}
}

@keyframes counter5 {
  from {--num: 0;}
  to {--num: 1500;}
}

.mainCounter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallCounter {
  display: flex;
  gap: 20px;
}

.smallCounter-item {text-align: center;}

span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}

.main{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	@media(max-width: 600px){ transform: scale(.65); }
}

span{
  color: white;
  font-size: 45px;
  font-family: 'Clash Display', sans-serif;
}

h2{font-weight: 300;}

.counter, .counter2, .counter3, .counter4, .counter5{font-size: 165px;}

.numbersText{font-size: 85px;}

.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	border: 5.5px solid white;
	border-radius: 14px;
	box-shadow:
		0 0 2px #fff,
		inset 0 0 2px #fff;
	animation: letter 3s ease-in-out infinite alternate;
}

@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}

@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}

@media (max-width: 600px) {
  body {overflow-x: hidden;}
  .smallCounter, .mainCounter {
    display: block;
    gap: 0px;
  }
  .smallCounter-item {margin-bottom: 20px;}
  .counter, .counter2, .counter3, .counter4, .counter5{font-size: 120px;}
  .numbersText{font-size: 75px;}
}