.course-of-death > .dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.square-royale > .dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.epik-account > .dot {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.itch > .dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.gamejolt > .dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.website > .dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.serverStatusText{
    font-size: 120px;
}

.deps{
    margin-top: -75px;
}

.downTimes{
    font-size: 80px;
}

@media (max-width:600px){
    .serverStatusText{
        font-size: 80px;
    }
    .deps{
        margin-top: -40px;
    }
    .downTimes{
        font-size: 60px;
    }
}